Package: org.modmyi.rosegoldapplelogo
Name: Rose Gold Backround Apple Logo
Version: 1.0
Section: Themes (SpringBoard)
Depends: winterboard
Architecture: iphoneos-arm
Description: Rose Gold backround apple respring logo. Tested on iPhone 6 ios 9.3.3.
Author: Burc Buluklu <burcbuluklu@gmail.com>
Sponsor: ModMyi.com <http://modmyi.com>
Maintainer: ModMyi <http://modmyi.com>
